/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar .logo {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#deleteButton{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    float: right;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #555;
}

/* Estilos de la lista de ventas */
#sellList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

#sellList li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#sellList li:last-child {
    border-bottom: none;
}

#logout {
    float: right;
    color: #fff;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
}
